:root {
    --section-width: 800px;

    --main-template-rows: auto 250px 250px 1fr;
    --main-template-columns: 3fr 4fr 3fr;
    --dashboard-template-columns: auto 1fr 1fr;
    --stats-template-columns: repeat(4, 1fr);
    --market-template-columns: 1fr 70px 70px 80px;
    --inventory-template-columns: 1fr 70px 70px 80px 80px 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px red solid; */
}

html {
    user-select: none;
    interpolate-size: allow-keywords;
}

body {
    background: #151515;
    color: #ddd;
    margin: 0;
    font-family: sans-serif;
    interpolate-size: allow-keywords;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: monospace;
    overflow: hidden;
    

    @media(width > 1000px) {
        min-height: 100svh;
        /* padding: 100px; */
    }
}

main {
    margin: 0 auto 0;
    width: 100%;
    /* max-width: 1700px; */
    /* padding: 0 calc(6vw - 2rem); */
    /* box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.383), inset 0px -5px 0 4px rgba(18, 17, 15, 0.355), inset 0px 3px 0 4px rgba(118, 91, 61, 0.064); */
    flex-grow: 1;
    /* overflow-x: auto; */
    overflow: hidden;

    /* gap: 1.25rem; */
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    max-height: 100svh;
    padding: 0px;

    @media(width > 1000px) {
        display: grid;
        grid-template-columns: var(--main-template-columns);
        grid-template-rows: var(--main-template-rows);
        grid-template-areas:
            "dashboard dashboard dashboard"
            "market stats inventory"
            "market graph inventory"
            "market log tank"
    }

    @media(width > 1300px) {
        grid-template-columns: var(--main-template-columns);
        
    }

    >* {
        /* background: linear-gradient(170deg, rgb(19, 31, 40), rgb(15, 29, 64)); */
        background: #222;
        box-shadow: 
        inset 2px 2px 5px 2px hsl(0, 0%, 17%),
        inset -2px -2px 5px 2px hsl(0, 0%, 8%);
        padding: 5px !important;
        /* border-radius: 0.5rem; */
        overflow-y: auto;
    }

}

/* Grid Areas */
.dashboard {
    grid-area: dashboard;
}

.stats {
    grid-area: stats;
}

.inventory {
    grid-area: inventory;
}

.market {
    grid-area: market;
}

.graph {
    grid-area: graph;
}

.messages-log {
    grid-area: log;
}

.tank {
    grid-area: tank;
}


/* Grid Template Columns */
.stats .row {
    grid-template-columns: var(--stats-template-columns);
}

.market .row {
    grid-template-columns: var(--market-template-columns);
}

.inventory .row {
    grid-template-columns: var(--inventory-template-columns);
}