.dashboard {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-content: center;
    padding: 10px;

    .body {
        display: grid;
        grid-template-columns: 1fr auto 1fr 140px;
        gap: 10px;
        font-size: 1rem;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            text-align: center;
            max-width: 400px;

            &.balance-wrapper {
                margin-left: auto;
            }

            &.next-day-wrapper {
                margin-inline: auto;
            }
            &.day-counter-wrapper {
                margin-right: auto;
                
                 height: auto;
            }

            >* {
                &.balance,
                &.next-day,
                &.day-counter {
                    align-content: center;
                    border-radius: 0.25rem;
                    background: none;
                    padding: 10px;
                    padding: 1rem 2.5rem;
                }

                &.balance,
                &.day-counter {
                    background: #222;
                    box-shadow:
                        inset 2px 2px 5px 2px hsl(0, 0%, 17%),
                        inset -2px -2px 5px 2px hsl(0, 0%, 8%);
                }

                &.next-day {
                    background: #111;
                    border-radius: 0.5rem;
                    box-shadow: inset 0 0 0px 2px #11111158,
                        inset 0 0 0px 5px #eeeeee4b,
                        inset 0 0 0px 7px #1111115b;

                    font-weight: 700;
                    color: #ddd;
                    text-align: center;
                    margin: 0.10rem;

                    .title{

                    }
                    .content {
                        font-size: 1em;
                        font-weight: 100;
                        color: #777;
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: inset 0 0 0px 2px #111,
                            inset 0 0 0px 5px #eee,
                            inset 0 0 0px 7px #111;
                    }
                }
                &.day-counter{
                    height: auto;
                    /* background: red !important; */
                }
            }
        }

        .document {
            /* background: rgb(255, 0, 204) !important; */
        }

        .fill-me {
            /* background: rgb(255, 0, 115) !important; */
        }
    }

    .logo {
        font-family: "Pirata One";
        position: relative;

        width: 140px;
        height: 100%;
        font-size: min(calc(0.65rem + 20vw), 2rem);
        font-weight: 500;
        line-height: 1em;
        color: #ddd;
        text-shadow: 0 0 3px black;
        display: grid;
        place-content: center;
        max-width: 400px;
        margin-inline: auto;
    }
}