.dashboard {
    --padding-outer: calc(1vw);
    --padding-outer: 10px;
    display: grid;
    grid-template-columns: var(--dashboard-template-columns);

    gap: calc(0.5rem + 0.3vw);
    /* margin-inline: auto; */
    align-content: center;
    /* padding: var(--padding-outer); */
    padding: 10px;
    width: fit-content;
    width: 100%;
    /* background: red; */


    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        /* background: #333; */
        /* background: #434242; */
        /* background: red; */
        /* background: lime !important; */
        text-align: center;
        width: 100%;
        /* width: fit-content; */
        max-width: 400px;


        &:first-child {
            margin-left: auto;
        }

        &:last-child {
            margin-right: auto
        }

        >* {
            &:first-child {
                /* background: #151515; */
                font-size: calc(0.5rem + 0.55vw);
                /* background: orangered; */
            }

            &.balance,
            &.next-day {
                font-size: calc(0.5rem + 1.1vw);
                /* flex: 1; */
                align-content: center;
                border-radius: 0.125rem;
                background: none;
                padding: 10px;
                
                
            }
            
            &.balance {
                background: #222;
            }
            
            &.next-day {
                background: #333;
                &:hover {
                    cursor: pointer;
                    color: white;
                    background: #444;
                }
            }


        }
    }

    header {
        font-family: "Pirata One";
        user-select: none;
        border-radius: 50%;
        padding: 0;
        position: relative;

        .logo {
            height: 100%;
            font-size: calc(0.5rem + 2vw);
            font-weight: 500;
            line-height: 1em;
            /* width: min(var(--section-width), 100vw); */
            /* width: fit-content; */
            /* margin: 10px auto 0; */
            /* padding: min(calc(1rem + 2vw), 3rem) min(calc(2rem + 7vw), 6rem); */
            padding: calc(0.4vw) calc(0.5rem + 2vw);
            /* padding: calc(0.15rem + 1vw); */
            color: #888;
            background: rgb(34, 32, 31);
            text-shadow: 0 0 3px black;
            border-radius: 50%;
            box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.383), inset 0px -5px 0 4px rgba(18, 17, 15, 0.355), inset 0px 3px 0 4px rgba(118, 91, 61, 0.064);
            display: grid;
            place-content: center;



            .fish-wrapper {
                transition: transform 1s cubic-bezier(.55, -1.24, .52, 1.12) 0.3s;
                display: inline-block;


                .fish-icon {
                    filter: grayscale(1);
                    display: inline;
                    transition: transform 1s ease 0.4s, filter 0.3s ease;
                    display: grid;
                    place-content: center;

                    img {
                        max-height: 40px;
                        display: inline;
                    }
                }

            }
        }

        &:hover {
            .fish-wrapper {
                transform: translateX(85px);

                .fish-icon {
                    transform: scale(1.3) scaleX(-1);
                    filter: grayscale(0);
                }
            }
        }
    }
}