.messages,
.messages-log {
    --default: #222;
    --info: rgb(41, 93, 153);
    --success: rgb(41, 153, 41);
    --warning: rgb(153, 42, 41);
}


.default {
    background: var(--default);
}

.info {
    background: var(--info);
}

.success {
    background: var(--success);
}

.warning {
    background: var(--warning);
}

.messages {
    position: fixed;
    inset: auto 1rem 1rem auto;

    color: hsl(0, 0%, 4%);
    border-radius: 0.2rem;
    transition: height 0.15s ease;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;

    .message {
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        width: fit-content;
        margin-left: auto;

        &.show {
            height: auto;
            transition: all 0.15s ease-out;
        }

        .content {
            color: #ddd;
            background: var(--default);
            padding: 1.5rem;
            border: 2px rgb(48, 48, 48) solid;
            border-radius: 1rem;

            &.default {
                background: var(--default);
            }

            &.info {
                background: var(--info);
            }

            &.success {
                background: var(--success);
            }

            &.warning {
                background: var(--warning);
            }
        }
    }
}

.messages-log {
    position: fixed;

    .toggle {
        position: fixed;
        inset: auto auto 0.25rem 0.25rem;
        z-index: 1000;
        border-radius: 0.25rem;

        .message-toggle-icon {
            font-size: 8rem;
        }

        &:hover {
            cursor: pointer;
            background: #333;
        }
    }

    .log {
        position: fixed;
        inset: 20px 0;
        z-index: 2000;
        margin-inline: auto;
        opacity: 0;
        transition: all 0.15s ease;
        /* background: #333333c8; */
        /* max-height: calc(100vh - 40px); */
        overflow-y: auto;
        pointer-events: none;
        padding: 6px 20px 20px;
        /* padding: 0.5rem; */
        background: #222;
        pointer-events: none;
        width: fit-content;
        min-width: min(300px, 100%);
        max-height: 500px;
        box-shadow: inset 0 0 1px 5px rgba(104, 104, 104, 0.814),
            0 6px 250px 6px rgba(20, 20, 20, 0.738);
        border-radius: 0.125rem;
        font-family: monospace;

        h2 {
            text-align: center;
            padding: 0.75rem 0;
        }

        .log-items {
            /* INDIVIDUAL MESSAGE */
            >* {
                padding: 0.25rem;
                padding: 0.4rem;
                /* border: 2px rgb(48, 48, 48) solid; */
                max-width: 600px;
                margin: 1px auto;
                /* background: red; */

                &.start {
                    background: red;
                    text-align: center;
                    font-family: monospace;
                }
            }
        }

        .default {
            background: #151515;
        }
    }

    &:has(.toggle.open) {
        .log {
            opacity: 1;
            pointer-events: auto;
        }

    }
}