.messages,
.log {
    --default: #191919;
    --info: rgb(41, 93, 153);
    --info: hsl(203, 31%, 32%);
    --success: hsl(120, 26%, 22%);
    --warning: hsl(0, 26%, 22%);
}


.default {
    background: var(--default);
}

.info {
    background: var(--info);
}

.success {
    background: var(--success);
}

.warning {
    background: var(--warning);
}

.messages {
    position: fixed;
    inset: auto 20px 20px auto;

    color: hsl(0, 0%, 4%);
    border-radius: 0.2rem;
    transition: height 0.15s ease;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    pointer-events: none;


    .message {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out, opacity 0.15s ease;
        width: 25ch;
        margin-left: auto;
        pointer-events: auto;





        
        display: none;

        &.show {
            height: auto;
            transition: height 0.15s ease-out, opacity 0.15s ease;
        }

        .content {
            color: #ddd;
            background: var(--default);
            padding: 1.5rem;
            border: 2px rgb(48, 48, 48) solid;
            border-radius: 1rem;
            transition: opacity 0.5s ease 1s;


            &.default {
                background: var(--default);
            }

            &.info {
                background: var(--info);
            }

            &.success {
                background: var(--success);
            }

            &.warning {
                background: var(--warning);
            }
        }


        &:hover {
            opacity: 0.25;
        }
    }
}


.log {
    margin-inline: auto;
    transition: all 0.15s ease;
    /* background: #222; */

    width: fit-content;
    width: 400px;
    /* max-width: 400px; */

    min-height: 200px;
    height: 100%;

    padding: 0 0 0.5rem !important;

    h2 {
        /* background: rgb(38, 38, 38); */
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: auto auto;
        place-content: center;
        padding: 0.2rem 0.6rem;
    }

    .log-items {
        overflow-y: auto;

        /* INDIVIDUAL MESSAGE */
        >* {
            padding: 0.4rem;
            max-width: 400px;
            margin: 1px auto;
            text-align: start;

            &.start {
                background: #151515;
                text-align: center;
                font-family: monospace;
            }
        }
    }

    .default {
        background: #191919;
    }
}