.table {
    align-self: flex-start;
    font-size: 1.125rem;

    .row {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));

        /* CELL */
        >* {
            padding: 0 0.5rem;
            align-self: center;
            text-align: end;
        }

        .buy-button,
        .sell-button,
        .feed-button,
        .pet-button {
            background: #111;
            border-radius: 0.5rem;
            box-shadow: inset 0 0 0px 2px #11111158,
                inset 0 0 0px 5px #eeeeee4b,
                inset 0 0 0px 7px #1111115b;

            font-weight: 700;
            color: #ddd;
            text-align: center !important;
            padding: 0.75rem 0;
            margin: 0.10rem;

            &:hover {
                cursor: pointer;
                box-shadow: inset 0 0 0px 2px #111,
                    inset 0 0 0px 5px #eee,
                    inset 0 0 0px 7px #111;
            }
        }
    }
}

.market .table,
.inventory .table {
    .row:first-child {
        color: #777;
        font-weight: 500;
        /* background: hsl(0, 0%, 12%); */
    }

}


body:has(.graph.open)>* {
    opacity: 0;
    background: red !important;
}

.graph {
    max-height: 400px;
    position: static;
    /* max-width: 100%; */
    /* max-height: 100%; */


    &:hover {
        cursor: zoom-in;
    }

    &:has(.open) {
        position: absolute;
        inset: 0;
        /* box-shadow: 0 0 1px 4px #666; */
        margin-inline: auto;
        z-index: 4;
        padding: 80px;
        /* background: #222; */
        max-height: 100%;

        &:hover {
            cursor: zoom-out;
        }
    }

    .graph-wrapper {
        /* background: #222; */
        /* padding: 0.25rem; */
        width: 100%;
        height: 100%;
        /* aspect-ratio: 1; */
        margin: 0 auto;
        padding: 10px;

        canvas {
            width: 100%;
            height: 100%;
            display: block;
            /* background: #222; */
        }
    }
}

.stats {
    /* min-width: fit-content; */
    /* width: max-content; */
    /* width: 100%; */
    /* margin-inline: auto; */
    overflow: auto;
    display: grid;
    gap: 10px;

    .table {
        display: grid;
        grid-template-columns: repeat(auto-fit, 120px);
        gap: 1rem 5px;
        overflow: hidden;
        /* background: #1b1b1b; */
        /* background: red; */


        .row {
            display: grid;
            grid-template-columns: 1fr;
            flex-basis: 100px;
            /* background: #222; */
            position: relative;
            overflow: visible;
            box-shadow: inset 1px 1px 1px 1px hsla(0, 0%, 87%, 0.03),
                inset -1px -1px 1px 1px hsla(0, 0%, 13%, 0.03);
            padding: 4px;

            .body {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto auto;
                color: #ddd;
                transition: all 0.5s ease;
                /* box-shadow: 0 0 20px 1px hsla(0, 0%, 87%, 0.07); */
                border-radius: 0.25rem;

                .type {
                    font-size: 1rem;
                    color: #777;
                    text-align: center;
                }

                img {
                    height: calc(35px + 1.5vw);
                    filter: drop-shadow(1.5px 3px 0px rgba(15, 15, 15, 0.4));
                    margin: -0.3rem auto -0.3rem;
                }

                .price-wrapper {
                    width: fit-content;
                    margin-inline: auto;
                }

                .mutation {
                    font-size: 0.8rem;
                    text-align: end;
                    width: fit-content;
                    margin: 0 0 0 auto;

                    &.pos {
                        color: hsl(129, 40%, 50%);

                        &.double {
                            color: lime;
                        }
                    }

                    &.neg {
                        color: hsl(0, 40%, 50%);

                        &.double {
                            color: red;
                        }
                    }
                }

                .stat-price {
                    font-size: 0.8rem;
                    text-align: end;
                }

                &:has(.pos)+.chart::after {
                    background: hsl(129, 40%, 50%);
                }

                &:has(.pos.double)+.chart::after {
                    background: lime;
                }

                &:has(.neg)+.chart::after {
                    background: hsl(0, 40%, 50%);
                }

                &:has(.neg.double)+.chart::after {
                    background: red;
                }
            }

            .chart {
                /* height is set with Js */

                /* height: var(--height); */
                height: calc(100% - 16px);
                background: #333 !important;

                width: 13px;
                padding: 0;
                position: absolute;
                inset: 10px auto 10px 4px;
                /* box-shadow: 0 0 20px 1px hsla(0, 0%, 87%, 0.07); */
                display: flex;
                flex-flow: column;
                align-items: center;

                &::after {
                    content: '';
                    height: var(--height);
                    display: block;
                    width: 9px;
                    margin: auto auto 0;
                }
            }

            &.hide {
                /* flex-grow: 0; */

                .body {
                    /* opacity: 0.4; */
                    /* filter: grayscale(1); */
                    transform: rotateY(-360deg) scale(0.7);
                    box-shadow: none;
                }
            }
        }



    }
}

.inventory {
    .feed-button {
        &.eaten-today {
            /* background: red !important; */
            filter: grayscale(0);
            /* box-shadow: none; */
            color: #555;

            &:hover {
                cursor: auto;
                box-shadow: inset 0 0 0px 2px #11111158, inset 0 0 0px 5px #eeeeee4b, inset 0 0 0px 7px #1111115b;
            }
        }
    }
}

.market {
    position: relative;

    .market-icon {
        /* color: red; */

        align-self: center;
        /* margin-left: 1rem; */
        /* position: absolute; */
        inset: 0;
    }
}

.graph {}



.inventory,
.market,
.log,
.tank {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    /* min-width: 100%; */
    overflow: auto;
    /* background: #222; */
    padding: 0 0 0;

    h2 {
        /* background: rgb(38, 38, 38); */
        display: grid;
        grid-template-columns: auto auto;
        place-content: center;
        padding: 0.2rem 0.6rem;
        margin-bottom: 1rem;
    }

    .table {
        /* width: fit-content; */
        /* margin-inline: auto; */
    }

    .icon {
        font-size: 1em;
        padding: 0 0.25rem;

    }
}