.row {
    color: #000;
    --row-bright-clr: #fff;
    --row-dark-clr: #000;
}

.row:has([data-type="Abelone"]) {
    background: orange;
    background: linear-gradient(120deg, rgb(255, 145, 0), rgb(255, 72, 0));
}

.row:has([data-type="Blowfish"]) {
    background: brown;
    background: linear-gradient(120deg, rgb(164, 115, 51), rgb(82, 52, 13));
    color: var(--row-bright-clr);
}

.row:has([data-type="Bluefin"]) {
    background: rgb(0, 98, 255);
    background: linear-gradient(120deg, rgb(43, 210, 239), rgb(10, 31, 80));
    color: var(--row-bright-clr);
}

.row:has([data-type="Starfish"]) {
    background: rgb(255, 187, 0);
    background: linear-gradient(120deg, white, rgb(237, 237, 179), rgb(255, 243, 154));
}

.row:has([data-type="Snapper"]) {
    background: rgb(90, 90, 90);
    background: linear-gradient(120deg, rgb(88, 102, 90), rgb(49, 41, 55));
    color: var(--row-bright-clr);
}

.row:has([data-type="Sunfish"]) {
    background: rgb(255, 238, 143);
    background: linear-gradient(30deg, rgb(255, 232, 142), rgb(255, 170, 0), rgb(255, 225, 75));
}