:root {
    --section-width: 800px;

    --main-template-rows: auto auto 1fr;
    --main-template-columns: 1fr 2fr 1fr;
    --dashboard-template-columns: 1fr auto 1fr;
    /* --dashboard-template-columns: 1fr auto auto auto 1fr; */
    /* --stats-template-columns: minmax(140px, 1fr) 45px 45px 80px 45px 60px 105px 85px 80px 90px; */
    --stats-template-columns: repeat(4, 1fr);
    --market-template-columns: 140px 80px 80px 1fr;
    --inventory-template-columns: 140px 80px 80px 1fr;

    --outer-bottom-margin: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px red solid; */
}

html {
    user-select: none;
    interpolate-size: allow-keywords;
}

body {
    background: #151515;
    color: #ddd;
    margin: 0;
    font-family: sans-serif;
    interpolate-size: allow-keywords;
    min-height: 100svh;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding bot dont work */
    padding: 10px 10px 20px;
    font-family: monospace;
}

main {
    margin: 0 auto 0;
    width: 100%;
    /* max-width: 1700px; */
    padding: 0 calc(6vw - 2rem);
    /* box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.383), inset 0px -5px 0 4px rgba(18, 17, 15, 0.355), inset 0px 3px 0 4px rgba(118, 91, 61, 0.064); */
    flex-grow: 1;
    overflow-x: auto;

    @media(width > 1300px) {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: var(--main-template-columns);
        grid-template-rows: auto 400px 1fr;
        grid-template-rows: var(--main-template-rows);
        grid-template-areas:
            "dashboard dashboard dashboard"
            "market stats inventory"
            "market graph inventory"
    }

    @media(width > 1300px) {
        grid-template-columns: var(--main-template-columns);
    }

    >* {
        background: #111;
        background: none;
    }

}

/* Grid Areas */
.dashboard {
    grid-area: dashboard;
}

.stats {
    grid-area: stats;
}

.inventory {
    grid-area: inventory;
}

.market {
    grid-area: market;
}

.graph {
    grid-area: graph;
}


/* Grid Template Columns */
.stats .row {
    grid-template-columns: var(--stats-template-columns);
}

.market .row {
    grid-template-columns: var(--market-template-columns);
}

.inventory .row {
    grid-template-columns: var(--inventory-template-columns);
}